<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relogio de Ponto</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/relogio.png" />
</head>
<body>
<header>
<div class='header'>
    <h1 classname="title" >Fabrica de Chocolate</h1>
</div>
</header>